body {
  background-image: url("./images/categorybg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;

  /* opacity: 0.7; */
}

h2.question {
  font-size: 20px;
}
.student {
  width: 700px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
}

.left {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.right {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

h2.studentName {
  margin: 0px;
  padding: 0px;
}

p.universityName {
  padding: 0px;
  margin: 0px;
}

.score {
  font-size: 24px;
  font-weight: bold;
  color: green;
}

button.btnAnswer {
  display: block;
  margin: 0 auto;
  width: 208px;
  background: cornflowerblue;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 1px;
  cursor: pointer;
}

button.btnAnswer:hover {
  opacity: 0.8;
}

.scoreWrapper {
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  height: 127px;
  background: #f5f5f5;
  text-align: center;
}

h3.correct {
  display: inline-block;
  vertical-align: middle;
  margin: 0.3em;
}

h3.incorrect {
  display: inline-block;
  vertical-align: middle;
  margin: 1em;
}
h2.userGreeting {
  font-size: 30px;
  color: green;
}
p.score-card {
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}
h2.pass {
  background-color: rgb(207, 187, 255);
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: blue;
  font-size: 40px;
}

h2.fail {
  background-color: rgb(238, 146, 146);
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: red;
  border-radius: 5%;
  box-shadow: rgb(255, 181, 181);

  font-size: 40px;
}
button.restart {
  background: rgb(255, 190, 10);
  padding: 15px;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 5px 2px;
  font-weight: bold;
  color: white;
}

button.restart:hover {
  opacity: 0.6;
}
.greet-bg {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  /* border-radius: 25%; */
}

p.score-card {
  background-color: rgb(126, 207, 126);
  width: 25%;
  margin: 0 auto;
  border-radius: 50px;
  padding: 7px;
  margin-bottom: 15px;
}
.quiz-area {
  background-color: white;
  margin: 0 auto;
  margin-bottom: 15px;
  vertical-align: middle;
  width: 50%;
  padding: 14px;
  border-radius: 20px;
  padding-bottom: 20px;
}

.author {
  color: rgb(255, 255, 255);
  background-color: #161b25;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 12px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5%;
}

@media (max-width: 375px) {
  .quiz-area {
    width: 90%;
  }
  h3.author {
    width: 50%;
  }
}
